<h3 class="subtitle">Tweets Detail </h3>
<p>{{Tweet.id}}</p>


  <div class="footer-tweet">
        <div class="profile-image-url">
            <img src="{{ Tweet.user.profile_image_url }}" alt="" />
        </div>
        <div>
                <span class="user-name">
                        <p>{{ Tweet.user.name }}</p>
                </span>
                <span class="user-screen-name"> @{{ Tweet.user.screen_name }}</span>
        </div>
        <div>
  <span> {{Tweet.created_at | date: "medium" }}</span>
  <p>{{ Tweet.text }}</p>
  <div>
        <img src="{{ Tweet.entities.media.media_url }}" alt="" />
  
  <span> retweets: {{ Tweet.retweet_count }} </span>
  <span> {{ Tweet.retweeted }} </span>
  <span> favorites: {{ Tweet.favorite_count }} </span>
  <span> {{ Tweet.favorited }} </span>
  </div>
</div>

