<h3 class="subtitle">Tweets Detail </h3>
<ol class="list">
      <div class="id-number">{{ tweet.id }}</div>
    <div class="trend-wrapper"></div>
      <div class="name">{{ tweet.id }}</div>
      
</ol>

<p>tweet-detail!</p>
<div>
  <div>
    <img src="{{ tweet.user.profile_image_url }}" alt="" />
  </div>
  <p>{{ tweet.user.name }}</p>

  <span> @{{ tweet.user.screen_name }}</span>
  <span> {{ tweet.created_at | date: "medium" }}</span>
  <p>{{ tweet.text }}</p>
  <span> retweets: {{ tweet.retweet_count }} </span>
  <span> {{ tweet.retweeted }} </span>
  <span> favorites: {{ tweet.favorite_count }} </span>
  <span> {{ tweet.favorited }} </span>
</div>
