*{
  color: rgb(83, 83, 83);
  margin: 0 auto;
  padding: 0;
  font-size: 0.78rem;
}
.tweetGoBack{
  padding: 2em;
  border-bottom:1px solid  rgba(199, 199, 199, 0.794);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  
}
.tweetGoBack fa-icon{
  margin-right: 2em;
  color:#1dcaff ;
}
.tweetGoBack span{
  font-size: 2em;
  color: rgb(46, 46, 46);
  font-weight: 500;
}

.profileImage{
  display: inline-block;
}
.profileImage img{
  max-width: 100%;
  border-radius: 50%;
  margin-top: 0.625rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  width: 48px;
  height: 48px;
}


.tweetHead {
  margin-top: 2em;
  margin-left: 1rem;
  vertical-align: 0.7rem;
}
.tweetHead span{
  font-size: 1.3em;
}

.tweetBody {
  margin-left: 1rem;
  margin-right: auto;
  padding: 2em 0 2em 0;
}
.tweetBody span{
  font-size: 1.2em;
}

.imageContent {
  margin-top: 0.3rem;
  margin-left: 1rem;
  max-width: 90%;

}

.tweetFooter {
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(230, 230, 230);
  padding: 1em 0 1em 0;
}
.retweet,
.favourite{
  display: inline-block;
 
}

.retweet span,
.favourite span{
  color: rgb(138, 138, 138);
  font-size: 1.3em;
  font-weight: 400;

  margin-left: 1.2em;
}
.retweet:hover fa-icon{
  color: rgb(25, 175, 25);
}
.retweet:hover span{
  color: rgb(25, 175, 25);
}
.favourite:hover fa-icon{
  color: rgb(235, 47, 47);
}
.favourite:hover span{
  color: rgb(235, 47, 47);
}

.userName {
  display: inline-block;
  width: 70%;
  position: absolute;
  padding: 1.5em 0 0 1em;
}
.userName span{
  font-weight: bold;
  color:rgb(46, 46, 46);
}
.userVerified {
  font-size: inherit;
  background-color: #1dcaff;
  padding-left: 2px;
  padding-right: 2px;
  color: #f8fcfc;
  border-radius: 50%;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
}
.screenName {
  display: inline-block;
  width: 70%;
  position: absolute;
  padding-left: 1em;
  margin-top: 40px;
}
.screenName span{
  color: rgb(185, 185, 185);
}


.timeAgoTweet{
  margin-left: 1em;
}
.timeAgoTweet span{
  font-size: 1.1em;
  color: rgb(138, 138, 138);
  font-weight: 500;
}

.tweetIcons{
  height: 50px;
  margin-top:1.2em;
}
.icon{
  width: 33%;
  float:left;
  text-align: center;
}

.iconHeart {
  color: rgb(134, 134, 134);
}
.iconHeart:hover {
  color:rgb(235, 47, 47);
}

.iconRe {
  color: rgb(134, 134, 134);
}
.iconRe:hover {
  color:rgb(25, 175, 25);
}
.iconCo {
  color: rgb(134, 134, 134);
}
.iconCo:hover {
  color:#1dcaff;
}
.favourited{
  color: rgb(235, 47, 47);
}
.retweeted{
  color:rgb(25, 175, 25);
}

@media only screen and (min-width:500px){
  .tweetHead span,
  .tweetFooter span{
    font-size: 1.4em;
  }
  .tweetBody{
    font-size: 1.3em;
  }
  .timeAgoTweet span{
    font-size: 1.1em;
  }
  .profileImage img{
    width: 60px;
    height: 60px;
  }
  .screenName{
    margin-top: 40px;
  }

}

@media only screen and (min-width:700px){
  .userName span,
  .screenName span,
  .tweetFooter span{
    font-size: 1.5em;
  }
  .tweetBody{
    font-size: 1.4em;
  }
  .timeAgoTweet span{
    font-size: 1.2em;
  }
  .profileImage img{
    width: 72px;
    height: 72px;
  }
  .screenName{
    margin-top: 43px;
  }

}
@media only screen and (min-width:900px){
  .userName span,
  .screenName span,
  .tweetFooter span{
    font-size: 1.6em;
  }
  .tweetBody{
    font-size: 1.5em;
  }
  .timeAgoTweet span{
    font-size: 1.3em;
  }
  .profileImage img{
    width: 84px;
    height: 84px;
  }
  .screenName{
    margin-top: 48px;
  }
  
}