<section class="footer">
    <div class="footer-item">
        <h3>Developers</h3>
        <ul class="footer-list">
            <li>
                    <span>Mauricio Navarro</span>
            </li>
            <li>
                    <span>Marcelo Benjamin Benitez</span>
            </li>
            <li>
                    <span>Juan Fernando Pico</span>
            </li>
        </ul>
    </div>
    <div class="footer-item">
        <h3 ><a class="footer-git" href="https://github.com/Juanfer96/twitter-app">GitHub</a></h3>
    </div>
   <div class="footer-end"><span >Globant UI Bootcamp 2020</span></div>
</section>