<p>home-page works!</p>
<div>
  <ul>
    <li *ngFor="let tweet of Tweets">
      <a routerLink="/TweetDetail/{{ tweet.id }}">
        <img src="{{ tweet.user.profile_image_url }}" alt="" />
        <p>{{ tweet.user.name }}</p>
        <span> @{{ tweet.user.screen_name }}</span>
        <span> {{ tweet.created_at | dateAgo }}</span>
        <p>{{ tweet.text }}</p>
        <span> retweets: {{ tweet.retweet_count }} </span>
        <span> {{ tweet.retweeted }} </span>
        <span> favorites: {{ tweet.favorite_count }} </span>
        <span> {{ tweet.favorited }} </span>
      </a>
    </li>
  </ul>
</div>
