<section class="navbar">
    <!-- ICON SIZE 3x -->
        <div class="navbar-item size3x"  routerLink="/home">
            <fa-icon [icon]="faHome" size="3x"></fa-icon> 
        </div>
        <div class="navbar-item size3x"  routerLink="/search">
            <fa-icon [icon]="faSearch" size="3x"></fa-icon> 
        </div>
        <div class="navbar-item size3x"  routerLink="/settings">
            <fa-icon [icon]="faCog" size="3x"></fa-icon> 
        </div>
 
    <!-- ICON SIZE 2x -->
  
        <div class="navbar-item size2x"  routerLink="/home">
            <fa-icon [icon]="faHome" size="2x"></fa-icon> 
            <span class="navbar-item-text">Home</span>
        </div> 
        <div class="navbar-item size2x"  routerLink="/search">
            <fa-icon [icon]="faSearch" size="2x"></fa-icon> 
            <span class="navbar-item-text">Search</span>
        </div>  
        <div class="navbar-item size2x"  routerLink="/settings">
            <fa-icon [icon]="faCog" size="2x"></fa-icon>
            <span class="navbar-item-text">Settings</span> 
        </div>
 

</section>
